<nav class="navbar">
    <div class="navdiv">
        <div class="logo" style="display: inline-block;">
            <i class="fas fa-hotel" style="font-size: 20px;padding-right: 5px;"></i>
            <a href="#" style="padding-left: 5px; color: black; text-decoration: none; font-weight: bold;">HOTEL</a>
            <a href="gallery" style="padding-left: 70px; color: black; text-decoration: none;">Gallery</a>
            <span style="padding-left: 320px; color: black;">LOGO</span>
        </div>
        <div>
            <ul>
                <li><a href="home" style="color: black; text-decoration: none;">Home</a></li>
                <li><a href="room" style="color: black; text-decoration: none;">Rooms</a></li>
                <li><a href="dining" style="color: black; text-decoration: none;">Dining</a></li>
     
                <button style="background-color: rgb(254, 183, 60); border-radius: 5px; padding: 7px;"><a href="book" style="color: black; text-decoration: none;">Book Now</a></button>
            </ul>
        </div>
    </div>
</nav>
<script>
        window.embeddedChatbotConfig = {
        chatbotId: "GV8zyRFiKUHXHsu3GwKfc",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="GV8zyRFiKUHXHsu3GwKfc"
        domain="www.chatbase.co"
        defer>
        </script>
