<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/aca4180bf2.js" crossorigin="anonymous"></script>
     
    <link rel="stylesheet" href="css/dining.css">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Cormorant+Garamond:ital@1&family=Cutive+Mono&family=Dancing+Script:wght@400;500&family=Lilita+One&family=Merriweather:ital@0;1&family=Playfair+Display:ital,wght@0,500;1,500&family=Protest+Riot&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rowdies:wght@300;400;700&family=Satisfy&family=Space+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Cutive+Mono&family=Dancing+Script:wght@400;500&family=Merriweather:ital@1&family=Playfair+Display:ital,wght@0,500;1,500&family=Protest+Riot&family=Protest+Strike&family=Roboto:ital,wght@0,400;0,500;1,400&family=Satisfy&family=Space+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Cutive+Mono&family=Dancing+Script:wght@400;500&family=Protest+Riot&family=Satisfy&family=Space+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Cutive+Mono&family=Dancing+Script:wght@400;500&family=Merriweather:ital@1&family=Playfair+Display:ital,wght@0,500;1,500&family=Protest+Riot&family=Roboto:ital,wght@0,400;0,500;1,400&family=Satisfy&family=Space+Mono&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Dancing+Script&family=Protest+Riot&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Cutive+Mono&family=Dancing+Script&family=Protest+Riot&family=Satisfy&family=Space+Mono&display=swap');
     
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="project_home.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fb846f1182.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Hotel</title>
    

</head>
    
<body>
    <div style="background: rgb(44, 44, 44);width: 100%;height: 18px;position: fixed;z-index: 100;"></div><br>
    {{>header}}
    <br><br><br>
    <div class="back_animation"><br><h2 style="text-align: center;padding-top: 430px;padding-left: 50px; color: white;text-decoration: solid;">ONE OF THE BEST RESORTS IN THE WORLD</h2></div>
    <br><br>
    <div class="Cafe">
        <img class="Image1" src="https://live.staticflickr.com/65535/48262381117_bd1f96414d_b.jpg" align="right">
        <div class="ac"><span class ="span1">Cafe</span> Everbean.<br>
            <p class="text1">Creating magic in the kitchen! Bringing you the finest in food and the best in ambiance.This is where extraordinary memories are made. Infusing love into every recipe, we welcome you to <span class="b">Cafe Mosaic</span> for a taste of culinary devotion.  
                <br><br><button class="button-55 menu-button" role="button" data-modal="myModal1">Menu<i class="fa-solid fa-utensils"></i></button>
                
                
                <br><br><i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br><span class="span5">Timings:</span><span class="span6">&nbsp;9:00 am to 8:00 pm.</span><br><br><br></p>
                <div id="myModal1" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                        </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>

    <div class="Restro">
        <img class="Image2" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/d509b546064943.5846d66ce9f84.jpg" height=410 width="600" align="left">
        <div class="ad"><span class ="span1">&nbsp;Bite</span> Me Bistro.<br>
            <p class="text2">&nbsp;&nbsp;Adding spice to your dining experience and serving up a symphony of flavors at<span class="c">Bite Me Bistro.</span>Join us for a culinary adventure &nbsp;&nbsp;that will tantalize your taste buds and leave you &nbsp;&nbsp;craving for more.
                <br><br>&nbsp;&nbsp;<button class="button-55 menu-button" role="button" data-modal="myModal2">Menu<i class="fa-solid fa-utensils"></i></button>
                <br><br>&nbsp;&nbsp;<i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br>&nbsp;&nbsp;<span class="span5">Timings:</span><span class="span6">&nbsp;6:00 pm to 11:00 pm.</span><br><br><br></p>
                <div id="myModal2" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                            </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

   <div class="Bar">
        <img class="Image3" src="https://vistapointe.net/images/bar-10.jpg" height="390" width="600" align="right">
        <div class="ae"><span class ="span1">Lord</span> of the Drinks.<br>
            <p class="text3">Tacos & Tequila, life's essentials! From the lazy spin of the fans, to the recumbent light of eventide that will soon be starlit black, the bar soaks in the ambiance of this good night.<br> <span class="d">Lord of the Drinks:</span> Creating an oasis of pleasure.
                <br><br><button class="button-55 menu-button" role="button" data-modal="myModal3">Menu<i class="fa-solid fa-utensils"></i></button>
                <br><br><i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br><span class="span5">Timings:</span><span class="span6">&nbsp;8:00 pm to 3:00 am.</span><br><br></p>
                <div id="myModal3" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                            </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="Pizza">
        <img class="Image4" src="https://www.dhresource.com/0x0/f2/albu/g7/M01/E7/45/rBVaSVqTeqKAX-ibAAId5fw7ruM554.jpg" height="410" width="600" align="left">
        <div class="af">&nbsp;<span class ="span1">The</span> Crispy and Crusty.<br>
            <p class="text4">&nbsp;&nbsp;From our kitchen-to your heart! Welcome to <span class="e">The Crispy and Crusty,</span> where you come hungry and leave happy. Pay less and eat&nbsp;&nbsp;more. Let the cheese of our pizza melt and fill your tongue &nbsp;&nbsp;with wonderful taste and nose with the delicious smell.
                <br><br>&nbsp;&nbsp;<button class="button-55 menu-button" role="button" data-modal="myModal4">Menu<i class="fa-solid fa-utensils"></i></button>
                <br><br>&nbsp;&nbsp;<i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br>&nbsp;&nbsp;<span class="span5">Timings:</span><span class="span6">&nbsp;11:00 am to 11:00 pm.</span><br><br><br></p>
                <div id="myModal4" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                            </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="Icecream">
        <img class="Image5" src="https://frontlinesmedia.in/wp-content/uploads/2021/02/a33d6a15373351bdd2ec18d762f492a8.jpg" height="410" width="600" align="right">
        <div class="ag"><span class ="span1">Scoop</span>-a-licious.<br>
            <p class="text4">Keep calm and eat icecream. We, <span class="f">Scoop-a-licious</span> are truly yours- for AM and PM people. Immerse yourself in a world of taste sensations. Come savor the magic.
                <br><br><button class="button-55 menu-button" role="button" data-modal="myModal5">Menu<i class="fa-solid fa-utensils"></i></button>
                <br><br><i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br><span class="span5">Timings:</span><span class="span6">&nbsp;:11:00 am to 1:00 am.</span><br><br><br><br></p>
                <div id="myModal5" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                            </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="Rooftop">
        <img class="Image6" src="https://media.cntraveler.com/photos/5907a911332aee5e4e8a4ea2/master/pass/miami-rooftops-Rooftop-at-E11EVEN-cr-courtesy.jpg" height="410" width="600" align="left">
        <div class="ah">&nbsp;<span class ="span1">Cloud</span> Nine Cuisine.<br>
            <p class="text4">&nbsp;&nbsp;Dining reimagined. Step into <span class="g">Cloud Nine Cuisine </span> and experience a fusion of flavors that will transport you to gastronomic &nbsp;&nbsp; heaven. Farm-to-table goodness, every time. Grilling up the finest flavors in town.
                <br><br><button class="button-55 menu-button" role="button" data-modal="myModal6">Menu<i class="fa-solid fa-utensils"></i></button>
                <br><br>&nbsp;&nbsp;<i class="fa-solid fa-phone"></i><span class="span6">:&nbsp;+91 XXXXXXXXXX</span>
                <br><br>&nbsp;&nbsp;<span class="span5">Timings:</span><span class="span6">&nbsp;1:00 pm to 12:00 midnight.</span><br><br><br></p>
                </p>
                <div id="myModal6" class="modal">
                    <div class="modal-content">
                      <span class="close">&times;</span>
                      <div class="book">
                      
                    
                    <div class="page Page1">
                        <p><img src="https://10619-2.s.cdn12.com/m2/Cafe-Everbean-Cafe-menu.jpg" width="100%" height="100%">
                    
                            
                            </p>
                        </div>
                        <div class="page Page2">
                            <p><img src="https://th.bing.com/th/id/OIP.wh7TB-qpVxAGRt7v1FxwbgHaJl?rs=1&pid=ImgDetMain" width="100%" height="100%">
                          
                            
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="facility">
                    <h3>Facilities</h3>
                        <p>Free Wi-Fi</p>
                        <p>Swimming Pool</p>
                        <p>Spa & Wellness Center</p>
                        <p>Restaurant & Bar</p>
                        <p>Gym & Fitness Center</p>
                        <p>Parking</p>
                        <p>24-hour Front Desk</p>
                </div>
                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <p>123 Resort Road, Beachfront</p>
                    <p>Paradise Island</p>
                    <p>Phone: +123 456 7890</p>
                    <p>Email: info@resort.com</p>
                </div>
                <div class="social-media">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>  
    
     
    <!--javascript-->

    <script>
        var menuButtons = document.querySelectorAll(".menu-button");

    menuButtons.forEach(function(button) {
    button.addEventListener("click", function() {
        var modalId = button.getAttribute("data-modal");
        var modal = document.getElementById(modalId);
        var book = modal.querySelector(".book");
        var firstPage = modal.querySelector(".Page1");
        var isFlipped = false;

        modal.style.display = "block";

        modal.querySelector(".close").addEventListener("click", function() {
            modal.style.display = "none";
            isFlipped = false;
            book.classList.remove("flipping");
        });

        window.addEventListener("click", function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
                isFlipped = false;
                book.classList.remove("flipping");
            }
        });

        firstPage.addEventListener("click", function() {
            if (!isFlipped) {
                book.classList.add("flipping");
                isFlipped = true;
            } else {
                isFlipped = false;
                book.classList.remove("flipping");
            }
        });
    });
});
        </script>

</body>
</html>
