<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gallaryki.css">
    <title>Gallery</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo">Resort Gallery</h1>
        </div>
    </nav>  

<div class="main">  
      
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=a1d9f1e8-f1fe-4141-b5ea-ea1beee49e0d&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div>
 
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=7d46d961-005c-4e02-9dd3-d7ca09cf9134&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div> 
    
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=81c7f3cc-9ceb-4c92-a05c-92276c088cd5&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div>
    
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=70b44889-8c35-449c-9fcd-42c8da805c65&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div>
    
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=f1f6d1c8-e334-4466-8612-b2120eb324b6&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div>  
    
<div class="vrview" >
    <video id="theviewer-video" playsinline crossorigin="anonymous" style="display:none;"></video>
    <script src="https://theviewer.co/embed?galleryId=750f3f0f-9f5a-4134-9df1-af901e3582c7&spaceId=theConstruct&fullScreen=true&thumbnail=false&shareNative=true&linkType=EmbedLink"></script>
    </div>  
</div>    
</body>
</html>